<div class="card">
  <div class="card-header bg-success text-white">
    <center><h1>New Seller</h1></center>
  </div><center>
<%= render 'form', seller: @seller %>

<%= link_to 'Back', sellers_path %>
</center>
</div>