<div class="card">
  <div class="card-header bg-success text-white">
<center><h1>New Order</h1>
</center></div>
  <center>
<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
  </center> </div>